*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  }
.container{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 2px solid black;
    box-shadow: 1px 1px 30px rgb(53, 52, 52);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 2vmin;
   
    
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(
      -60deg,
      rgb(42, 132, 192) 50%,
      rgb(3, 156, 149) 50%
    );
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  
  .bg3 {
    animation-duration: 5s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
#btn-guess{
    width: 7rem;
    padding: 4px;
    border-radius: 20px;
    border:none;
}
#input-number{
    width: 9rem;
    padding-left: 5px;
    height:  1.2rem;
    border-radius: 20px;
    border:none;
    
    outline: none; 
    
}
input:focus{
  border:none
  }
@media screen and (min-width: 320px) {
   
    #input-number{
     width: 5rem;
     padding-left: 3px;
     height:  1.2rem;
    }
    #btn-guess{
        width: 4.5rem;
        padding: 4px;
        font-size: 0.6rem;
    }
 }
@media screen and (min-width: 375px) {
   
    #input-number{
     width: 6rem;
     padding-left: 4px;
     height:  1.4rem;
    }
    #btn-guess{
        width: 5rem;
        padding: 4px;
        font-size: 0.7rem;
    }
 }
@media screen and (min-width: 425px) {
   
    #input-number{
     width: 7rem;
     padding-left: 4px;
     height:  1.4rem;
    }
    #btn-guess{
        width: 6rem;
        padding: 4px;
        font-size: 0.8rem;
    }
 }
@media screen and (min-width: 768px) {
   body{
    font-size: 1.5rem;
   }
   #input-number{
    width: 11rem;
    padding-left: 6px;
    height:  1.4rem;
   }
   #btn-guess{
    width: 7rem;
    padding: 6px;
    font-size: 1rem;
}
  }
  @media screen and (min-width: 1024px) {
    body{
     font-size: 1.5rem;
    }
    #input-number{
     width: 17rem;
     padding-left: 6px;
     height:  2.1rem;
     font-size: 1.4rem;
    }
    #btn-guess{
     width: 13rem;
     padding: 5px 2px;
     font-size: 1.4rem;
 }
   }
 
   
 


